// Reset CSS
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Import des polices
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

// Variables globales
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// Import des styles des composants
@import './app/components/auth/register/register.component.scss';
@import './app/components/auth/login/login.component.scss';
@import './app/components/dashboard/dashboard.component.scss';